<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Car</a> <br />
<table>
        <tr>
            <th>Caryear</th>
            <th>Carmake</th>
            <th>Carmodel</th>
            <td>Actions</td>
        </tr>
    <tr th:each="todo : ${car}">
        <td th:text="${car.caryear}"></td>
        <td th:text="${car.carmake}"></td>
        <td th:text="${car.carmodel}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${car.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${car.id})}">Detail</a> -
            <a th:href="@{/delete/{id}(id=${car.id})}">Delete</a>
        </td></tr>

</table>
</body>
</html>